#history {
	background-color: rgb(4,119,31);
}

#history > a {
	color: white;
}

.history-nav-body > li {
	display: inline;
	border-style: solid;
}

#previous-order, #driver-history {
	font-family: sans-serif;
	padding: 10px 25px;
	margin: 10px -2px;
	text-decoration: none;
	color: black;
}

.history-nav {
	text-align: center;
}