.content {
	height: 600px;
	width: 500px;
	background-color: #8bbd3c;
	border-radius: 10%;
	border: 10px solid #02702c; 
	margin: auto;
}

#submit-button {
	background-color: #00AF50; /* Green */
    border: 2px solid black;
    border-radius: 10%;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
}

.line {
    width: 50%;
    padding: 0px 5%;
}

tr {
    width: 200px;
}

.login {
    font-family: 'Oswald', sans-serif;
    font-size: 4.125em;
    border-spacing: 0px 15px;
}

.dgcolor {
    color: #02702c;
}

.form {
    margin: 25% 15%;
}

.text {
    font-size: 2.1em;
    font-family: sans-serif;
    margin: 10px 30px;
}

.wide {
    width: 350px;
}

input[type=text,password] {
    width: 150%;
}