.content {
	height: 600px;
	width: 500px;
	background-color: #8bbd3c;
	border-radius: 10%;
	border: 10px solid #02702c; 
	margin: auto;
}

#submit-button {
	background-color: #82d800;
    border: 2px solid black;
    border-radius: 10%;
    color: #333333;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-family: Garamond, serif;
    float: right;
    margin-top: 30px;
}

.line {
    width: 50%;
    padding: 0px 5%;
}

td {
    width: 500px;
}

.login {
    font-family: 'Oswald', sans-serif;
    font-size: 4.125em;
    border-spacing: 0px 15px;
}

.dgcolor {
    color: #02702c;
}

.form {
    margin: 22% 10%;
}

.text {
    font-size: 2.1em;
    font-family: sans-serif;
    margin: 10px 30px;
}

.register {
    font-family: Garamond, serif;
    display: inline-block;
    margin-top: 50px;
    font-size: 1.25em;
}

input[type=text], input[type=password] {
    width: 150%;
    padding: 6px;
    border: 1px solid #02702c;
    margin-left: -75px;
}

a:visited {
    color: #333333;
}

hr {
    border: 2px solid #02702c;
}

.error-message {
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    color: #70022c; 
}