/* Profile NavBar */
#profile {
  margin-top: 10px;
  background-color: rgb(4,119,31);
}
#profile>a {
  color: white;
}

/* Profile Information */

#myprofile,#preffered-location {
  font-size: 3rem;
  display: inline-block;
}
#location {
  list-style: katakana;
  font-size: 1.8rem;
}
#editpic {
  float: right; 
  width: auto;
  height: 70px;
}

.information {
  text-align: center;
}

#profpic {
  border-radius: 50%;
  border-style: solid;
  width: auto;
  height: 200px;
}

#user-info {
  font-size: 1.6rem;
}

#rating {
  color: gold;
}

#starpic {
  width: auto;
  height: 23px;
}


#mailpic {
  width: auto;
  height: 23px;
}

#phonepic {
  width: auto;
  height: 23px;
}